<!DOCTYPE html>
<html lang="en" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>بانک سوالات دوره</title>
    <!-- Style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css"/>

    <!-- Fonts and icons -->
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>
<div class="fresh-table full-color-orange">

    <div>
        <div>
            <form style="float: left">
                <button id="home" class="btn btn-default" formaction="/home" formmethod="get">خانه</button>
            </form>
        </div>
        <div style="float: left">
            <form class="m-2" th:action="@{/quiz/__${quizId}__/questions}">
                <button class="btn btn-default" type="submit">بازگشت به سوالات آزمون</button>
            </form>
        </div>
        <div style="float: left">
            <form>
                <button id="exit" class="btn btn-default" formaction="/signOut" formmethod="get">خروج از حساب کاربری
                </button>
            </form>
        </div>

    </div>

    <table id="fresh-table" class="table" th:hidden="${bankQuestions.size()==0}">
        <thead>
        <th data-field="type">نوع سوال</th>
        <th data-field="title">عنوان سوال</th>
        <th data-field="addRemove">حذف / اضافه (سوال به آزمون )</th>
        <th data-field="actions">عملیات</th>
        </thead>
        <tbody>

        <tr th:each="questionItem:${bankQuestions}"><!--th:bgcolor="${quizQuestions.contains(questionItem)?'28a745':'343a40'}"-->

            <td th:text="${T(ir.maktab.onlineexam.utility.QuestionTools).getQuestionType(questionItem).getPersian()}"></td>
            <td th:text="${questionItem.title}"></td>
            <td >
<!--                <form th:action="@{/quiz/__${quizId}__/addQuestion/fromBank/__${questionItem.id}__}" style="display: contents">-->
<!--                    <input class="btn btn-light"-->
<!--                           type="submit"-->
<!--                           th:style="${quizQuestions.contains(questionItem) ? 'color: green;' : 'color: red;'}"-->
<!--                           th:value="${quizQuestions.contains(questionItem)?'حذف از آزمون':'افزودن به آزمون'}">-->
<!--                </form>-->

                <!--##################################################################################################-->
                <form th:action="@{/quiz/__${quizId}__/addQuestion/fromBank/__${questionItem.id}__}" style="display: contents">
                    <button class="btn btn-warning btn-circle" th:if="${quizQuestions.contains(questionItem) == false}"
                            type="submit"
                            rel="tooltip" title="افزودن به آزمون">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-warning btn-circle" th:if="${quizQuestions.contains(questionItem) == true}"
                            type="submit"
                            rel="tooltip" title="حذف از آزمون">
                        <i class="fa  fa-minus"></i>
                    </button>
                </form>
                <!--##################################################################################################-->
            </td>
            <td style="width: 300px">
                <a rel="tooltip" title="ویرایش"
                   th:href="@{/quiz/__${quizId}__/question/__${questionItem.id}__/edit}"
                   role="button"
                   class="btn btn-warning btn-circle">
                    <i class="fa fa-edit"></i>
                </a>
                <a rel="tooltip" title="مشاهده سوال"
                   th:href="@{/quiz/__${quizId}__/question/__${questionItem.id}__/view}" role="button"
                   class="btn btn-warning btn-circle">
                    <i class="fa fa-eye"></i>
                </a>
                <a rel="tooltip" title="حذف"
                   th:href="@{/quiz/__${quizId}__/question/__${questionItem.id}__/deleteFromBank}"
                   role="button"
                   th:id="${questionItem.id}"
                   class="btn btn-warning btn-circle" onclick="return ConfirmDelete()">
                    <i class="fa fa-trash-alt"></i>
                </a>
            </td>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script>

<script type="text/javascript">
    var $table = $('#fresh-table')

    $(function () {
        $table.bootstrapTable({
            classes: 'table table-hover table-striped',
            toolbar: '.toolbar',

            search: true,
            showRefresh: true,
            showToggle: true,
            showColumns: true,
            pagination: true,
            striped: true,
            sortable: true,
            pageSize: 8,
            pageList: [8, 10, 25, 50, 100],

            formatShowingRows: function (pageFrom, pageTo, totalRows) {
                return ''
            },
            formatRecordsPerPage: function (pageNumber) {
                return pageNumber + ' rows visible'
            }
        })
    })

</script>

<script type="text/javascript" src="../static/js/persian-date.js" th:src="@{/js/persian-date.js}"></script>
<script type="text/javascript" src="../static/js/persian-datepicker.js" th:src="@{/js/persian-datepicker.js}"></script>
<script>
    function ConfirmDelete() {
        var x = confirm("آیا از حذف رکورد اطمینان دارید؟");
        if (x)
            return true;
        else
            return false;
    }
</script>
</body>
</html>