<!DOCTYPE html>
<html lang="en" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>شرکت کنندگان آزمون</title>
    <!-- Style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css"/>

    <!-- Fonts and icons -->
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">

    <!-- Style -->
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>
<div class="fresh-table full-color-orange">
    <div>
        <div>
            <form style="float: left">
                <button id="home" class="btn btn-default" formaction="/home" formmethod="get">خانه</button>
            </form>
        </div>
        <div style="float: left">
            <form class="m-2" th:action="@{/course/__${courseId}__/quizzes}">
                <button class="btn btn-default" type="submit">بازگشت به لیست آزمون های دوره</button>
            </form>
        </div>
        <div style="float: left">
            <form>
                <button id="exit" class="btn btn-default" formaction="/signOut" formmethod="get">خروج از حساب کاربری
                </button>
            </form>
        </div>

    </div>

    <label style="direction: rtl" class="alert-success p-1 rounded font-weight-bolder"
           th:text="${('تعداد شرکت کنندگان: ') + quizOperations.size()}"></label>

    <table id="fresh-table" class="table" th:hidden="${quizOperations.size()==0}">
        <thead>
        <th data-field="userName">نام کاربری</th>
        <th data-field="firstName">نام</th>
        <th data-field="lastName">نام خانوادگی</th>
        <th data-field="score">نمره کسب شده</th>
        <th data-field="actions">عملیات</th>
        <th data-field="actions2"></th>

        </thead>
        <tbody>

        <tr th:each="operationItem:${quizOperations}"
            th:bgcolor="${operationItem.customGraded==true?'28a745':'343a40'}">

            <td th:text="${T(ir.maktab.onlineexam.utility.ServiceTools).accountService.findProfileById(operationItem.studentId).get().userName}"></td>
            <td th:text="${T(ir.maktab.onlineexam.utility.ServiceTools).accountService.findProfileById(operationItem.studentId).get().person.firstName}"></td>
            <td th:text="${T(ir.maktab.onlineexam.utility.ServiceTools).accountService.findProfileById(operationItem.studentId).get().person.lastName}"></td>
            <td style="direction: rtl" th:text="${(T(ir.maktab.onlineexam.utility.ScoresListTools).sum(operationItem.resultScores)) + (' از ') + maxScore}"></td>
            <td style="width: 150px">
                <a rel="tooltip" title="تصحیح اتوماتیک"
                   th:href="@{/quiz/__${quizId}__/participant/__${operationItem.studentId}__/answers/autoGrading}"
                   th:disabled="${operationItem.finished != true || operationItem.autoGraded == true}"
                   role="button"
                   class="btn btn-warning btn-circle">
                    <i class="fa  fa-key"></i>
                </a>
                <a rel="tooltip" title="تصحیح دستی"
                   th:href="@{/quiz/__${quizId}__/participant/__${operationItem.studentId}__/answers/1}"
                   th:disabled="${operationItem.finished != true || operationItem.autoGraded!=true || operationItem.customGraded ==true}"
                   role="button"
                   class="btn btn-warning btn-circle">
                    <i class="fa fa-gavel"></i>
                </a>
            </td>
            <td>
                <form th:action="@{/quiz/__${quizId}__/participant/__${operationItem.studentId}__/answers/1}">
                    <input class="btn btn-light"
                           type="submit"
                           th:disabled="${operationItem.finished != true || operationItem.customGraded !=true}"
                           th:value="${operationItem.finished != true ? 'آزمون در حال اجرا' : 'مشاهده' }">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script>

<script type="text/javascript">
    var $table = $('#fresh-table')

    $(function () {
        $table.bootstrapTable({
            classes: 'table table-hover table-striped',
            toolbar: '.toolbar',

            search: true,
            showRefresh: true,
            showToggle: true,
            showColumns: true,
            pagination: true,
            striped: true,
            sortable: true,
            pageSize: 8,
            pageList: [8, 10, 25, 50, 100],

            formatShowingRows: function (pageFrom, pageTo, totalRows) {
                return ''
            },
            formatRecordsPerPage: function (pageNumber) {
                return pageNumber + ' rows visible'
            }
        })
    })

</script>

</body>
</html>